html {
  box-sizing: border-box;
}
*{margin: 0;padding: 0}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
  
  width: 100%;
  height: 100%;
}
video{position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;}
  .nav{position: relative;width: 100%;height: 60px;background: rgba(0,0,0,0.20);line-height: 60px;color: white;font-family: sans-serif;text-align: center}
ul#countdown {background: rgba(0,0,0,0.7);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 60%;
  margin: 0 auto;
  padding: 15px 10px 10px 10px;
  color: #fff;
  border-width: 1px 0;border-radius: 5px;
  overflow: hidden;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}
ul#countdown li {
  margin: 0 -3px 0 0;
  padding: 0;
  display: inline-block;
  border: 1px solid #5C5C5C;border-radius: 5px;
  width: 25%;
  font-size: 72px;
  font-size: 6vw;
  text-align: center;
}

ul#countdown li .label {border: 1px solid white;border-radius: 0 0 5px 5px;background: white;
  color: #292929;
  font-size: 18px;
  font-size: 3vw;
  text-transform: uppercase;font-family: 'AponaLohit', sans-serif;
  
}
.proshno{position: relative;top: 50%}

button a {text-decoration: none;color: white;letter-spacing: 1.5px;font-family: sans-serif;font-weight: bold;font-size: 18px }
.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #00FCFF;
  padding: 13px 50px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btn span {
  position: relative; 
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: white;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
span:hover{color: #00FCFF}
.link {
  font-size: 20px;
  margin-top: 30px;
}

.link a {
  color: #000;
  font-size: 25px; 
}
